.add-item-form {
    display: flex;
}

.add-button {
    padding: 5px 10px;
    background-color: steelblue;
    border: 1px solid darkblue;
    border-radius: 3px;

    color: #fff;
    font-size: 20px;
    line-height: 25px;
}

.form-control {
    box-sizing: border-box;
}