.search-panel {
    display: flex;

    margin-bottom: 10px;
}

.search-field {
    flex-grow: 1;

    padding: 5px 10px;
    box-sizing: border-box;
}

.search-field::placeholder {
    font-weight: bold;
}

.search-field:focus::placeholder {
    color: transparent;
}